/* ---------- 폰트 ---------- */
@import url('https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


body>div {
    font-family: "Lora", "wanted-sans", serif;
    color: #222;
}

/* ---------- 노멀라이즈 ---------- */
body,
ul,
li,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}


/* @media (max-width:1300px) and (min-width:1001px) {}

@media (max-width:1000px) and (min-width:743px) {}

@media (max-width:742px) {} */